# Exec
/source/concat
/source/htmlMatchParser
/source/regex_example
/source/regex_match_example
/source/removecrlf
/source/testRegex
/source/getUpdatedHistoryHTML

# .o, .gch
/source/*.o
/source/*.gch

# Text files

/source/catchoutput.very.old
/source/catchoutput.old
/source/catchoutput
/source/textfile
/source/template.json

# HTML files
/html/updatedHistories/cleanedtest.html
/html/updatedHistories/out
/html/updatedHistories/RAW.html
/html/updatedHistories/test.html
/source/testRegexStuff.html

Notes.txt

# Test programs
/source/cpp5.4.1.regex_example.cpp
/source/removecrlf.c
/source/regex_example.cpp
/source/regex_match_example.cpp
/source/compile_cpp.bat
/source/concat.cpp
/source/fileread.cpp
/source/testRegexStuff.cpp