# Exec
/source-html/a.out
/source-html/htmlMatchParser/concat
/source-html/htmlMatchParser/output
/source-html/htmlMatchParser/htmlMatchParser
/source-html/htmlMatchParser/regex_example
/source-html/htmlMatchParser/regex_match_example
/source-html/htmlMatchParser/removecrlf


# Text files
/source-html/body.txt
/source-html/head.txt
/source-html/htmlMatchParser/catchoutput.very.old
/source-html/htmlMatchParser/catchoutput.old
/source-html/htmlMatchParser/catchoutput
/source-html/htmlMatchParser/textfile
/source-html/htmlMatchParser/template.json
Notes.txt

# Test programs

/source-html/htmlMatchParser/cpp5.4.1.regex_example.cpp
/source-html/htmlMatchParser/removecrlf.c
/source-html/htmlMatchParser/regex_example.cpp
/source-html/htmlMatchParser/regex_match_example.cpp
/source-html/htmlMatchParser/compile_cpp.bat
/source-html/htmlMatchParser/concat.cpp
/source-html/htmlMatchParser/fileread.cpp
